@import "tailwindcss";
@import "./accessory.css";
@import "./starbackground.css";

@theme {
  --font-system: "system-ui", sans-serif;
  --font-Roboto_Slab: "Roboto Slab", sans-serif;
  --color-yellow-primary: #efc576;
  --color-yellow-second: #f1d196;
  --color-gray-01: #a6a6a6;
  --color-gray-02: #313131;
  --color-gray-03: #d3d3d3;
  --color-black-primary: #1c1c1c;
  --color-black-second: #252525;
  --color-black-01: #313131;
  --color-black-02: #4b4b4b;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.bg-linear-black {
  background: linear-gradient(315deg, #252525, #323131);
}

.input {
  width: 100%;
  height: 3rem;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: rgba(255 255 255 / 7%);
  border-radius: 10px;
  color: #fff;
}
.input::placeholder {
  color: #b3b3b3;
}
.input:hover,
.input:focus {
  border: 2px solid #efc576;
  box-shadow: 0px 0px 0px 7px rgb(239, 197, 118, 20%);
  background-color: rgba(255 255 255 / 7%);
}
.area {
  /* min-height: 200px;
  max-height: 220px; */
  align-content: normal;
  padding: 16px 20px;
  overflow: auto;
}

.card-profile {
  @apply bg-[#474747];
  @apply h-48 w-48 rounded-2xl;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.badge-profile {
  @apply bg-gray-02 text-gray-03 w-max px-2 py-1 text-center text-sm;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social-group {
  @apply hover:bg-yellow-primary flex items-center gap-6 hover:rounded-md hover:p-0.75;
}

.social-icons {
  @apply flex h-11.25 w-15 items-center justify-center rounded-lg;
  background: linear-gradient(315deg, #252525, #323131);
  transition: all 265ms ease-out;
}

.social-icons-rotate {
  @apply transition-all group-hover:origin-center group-hover:scale-110;
  @apply group-hover:group-odd:rotate-20 group-hover:group-even:rotate-[-20deg];
}

.social-title {
  @apply text-gray-400 group-hover:font-semibold group-hover:text-[#616161];
}

.social-sub-title {
  @apply text-white group-hover:font-semibold group-hover:text-[#434343];
}

.menu-mobile {
  @apply hover:bg-yellow-primary flex h-11 w-11 items-center justify-center rounded-lg;
}

.btn-download {
  @apply flex h-[45px] cursor-pointer items-center gap-2.5 rounded-lg p-3.5 font-medium;
  background: linear-gradient(315deg, #252525, #323131);
}
.btn-download:hover {
  background: #efc576;
}
